In [1]:
import pandas as pd

In [2]:
df_hw = pd.read_csv('../Data/cleaned_data.csv')
df_out = pd.read_csv('../Data/filtered_liquidus_data_simple.csv').rename(columns={
    "composition":"System_Name",
    "temperature":"Tm (Liquidus)"
})

In [5]:
df_out.head(5)

    System_Name  Tm (Liquidus)
0  Ag0.01Cu0.99        1349.61
1  Ag0.01Ga0.99         408.98
2  Ag0.01Sb0.99         900.39
3  Ag0.01Sn0.99         501.95
4  Ag0.01Zn0.99         700.39

In [6]:
df_hw.head(5)

  System_Name  Tm (Liquidus)
0          Hg          -38.9
1          Cs           28.4
2          Ga           29.8
3          Rb           39.5
4           K           63.2

In [7]:
conc_all = pd.concat([df_out, df_hw])

In [8]:
conc_all

      System_Name  Tm (Liquidus)
0    Ag0.01Cu0.99        1349.61
1    Ag0.01Ga0.99         408.98
2    Ag0.01Sb0.99         900.39
3    Ag0.01Sn0.99         501.95
4    Ag0.01Zn0.99         700.39
..            ...            ...
98   Ga40Sb20Sn40         560.50
99   Ga30Sb40Sn30         628.90
100  Ga20Sb60Sn20         623.60
101  Ga10Sb80Sn10         577.70
102  Ga30Sb30Sn40         593.80

[4176 rows x 2 columns]

In [10]:
conc_all.to_csv('../Data/Merged_All.csv', index=False)